@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --primary-color: #1677d6;
}

@layer components {
  .nav-link {
    @apply relative;

    &::before {
      content: "";
      @apply absolute left-0 -bottom-1 h-0.5 w-0 bg-(--primary-color) dark:bg-amber-100 transition-all duration-300;
    }

    &:hover::before {
      @apply w-full;
    }

    &:active {
      color: aliceblue !important;
    }
  }
}

.dark .nav-link::before {
  @apply bg-amber-500;
}

.nav-link:hover {
  color: var(--primary-color) !important;
}

.dark .nav-link:hover {
  /* text-amber-600 */
  color: oklch(66.6% 0.179 58.318) !important;
}

.dark .nav-link {
  @apply text-amber-500;
}

Html {
  scroll-behavior: smooth;
}
